In [31]:
#import csv from the dataset
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(font_scale=1)
plt.style.use('ggplot')


df=pd.read_csv('../final.csv')
df[['SUB1','GENDER']].head()

df.shape

   SUB1  GENDER
0     2       1
1     2       1
2     2       1
3     4       1
4     3       1

In [52]:
#for drop_list_suppl , we'll handle the missing values later
drop_list = ['REGION', 'DIVISION', 'PSOURCE', 'PRIMPAY', 'VET', 'PRIMINC', 'DAYWAIT',
             'DETCRIM', 'HLTHINS', 'CBSA10', 'METHUSE']
drop_list_suppl = ['FREQ1', 'FREQ2', 'FREQ3', 'FRSTUSE1', 'FRSTUSE2', 'FRSTUSE3', 'ROUTE1', 'ROUTE2', 'ROUTE3', 
                   'DSMCRIT', 'PSYPROB', 'MARSTAT', 'NOPRIOR', 'SUB3', 'SERVSETA', 'IDU', 'PREG', 'DETNLF',]
train_df = df.drop(drop_list + drop_list_suppl, axis=1)

df3 = train_df
df3 = df3[(df3 >= 0).all(1)]
print df3.shape
print df3.columns.tolist()

(7651912, 33)
['CASEID', 'YEAR', 'AGE', 'GENDER', 'RACE', 'ETHNIC', 'EDUC', 'EMPLOY', 'LIVARAG', 'ARRESTS', 'STFIPS', 'SUB1', 'SUB2', 'NUMSUBS', 'ALCFLG', 'COKEFLG', 'MARFLG', 'HERFLG', 'METHFLG', 'OPSYNFLG', 'PCPFLG', 'HALLFLG', 'MTHAMFLG', 'AMPHFLG', 'STIMFLG', 'BENZFLG', 'TRNQFLG', 'BARBFLG', 'SEDHPFLG', 'INHFLG', 'OTCFLG', 'OTHERFLG', 'ALCDRUG']

In [8]:
X_train = train_df.drop('SUB2', axis = 1)
Y_train = train_df['SUB2']
X_train.shape, Y_train.shape

((9105077, 57), (9105077,))

In [24]:
df3 = df[(df >= 0).all(1)]
df3.shape

(1284, 58)

In [28]:
df2 = df[(df.ix[:, :10] >= 0).all(1)]

df2.shape

(2360409, 58)